body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#app {
  text-align: center;
}

#product-image {
  max-height: 250px;
  max-width: 250px;
}

#product-container {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  margin: 30px auto;
}

#product-image {
  margin-right: 50px;
}

#product-details {
  text-align: left;
}

#product-container h2 {
  margin-top: 0;
}

#product-price {
  font-weight: bold;
}