body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#product-image {
  max-height: 250px;
  max-width: 250px;
}

#product-container {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  margin: 30px auto;
}

#product-image {
  margin-right: 50px;
}

#product-details {
  text-align: left;
}

#product-container h2 {
  margin-top: 0;
}

#product-price {
  font-weight: bold;
}

#product-container {
  margin-top: 30px;
}

#shopping-cart-tab {
  min-width: 200px;
  width: 30%;
  height: 100vh;
  border-left: 2px solid #b4b4b4;
  border-radius: 4px;
}

#page-content-container {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

#page-and-cart-container {
  display: flex;
  justify-content: space-between;
}
